*{
  margin: 0px;
  padding: 0px;
  
}


.home{
  display: flex;
  align-items:start;
  /* justify-content: center; */
  flex-direction: column;
  background: url("jorge-ramirez-2bJ2OH9e9J8-unsplash.jpg")  no-repeat center center/cover;
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 500px;
}
.static {
  /* border: 2px solid red; */
  background-color: #498f8f7d;
  border-radius: 12px;
}
.static h1 {
  font-size: 48px;
  margin: 0 12px 16px 14px;
  text-align: center;
  font-family: 'Phudu', cursive;
}

.home h3 {
  font-size: 30px;
  margin-left: 36px;
  color: #f31f1f;
  filter: drop-shadow(2px 4px 6px black);
  font-family: 'Playball', cursive;

}

